.search {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search > input {
    width: 150px;
    margin-block: 5px;
}

.search > select {
    width: 150px;
    margin-block: 5px;
}

.search > option {
    width: 150px;
    margin-block: 5px;
}